*.csv
run
exec
args.txt
test-storage

ycsb-benchmark/*result*
ycsb-benchmark/block-mappings-to-psb
ycsb-benchmark/trace_emulator_*
ycsb-benchmark/test*

ycsb-benchmark/slsfs-client-image-build/*.so.*
ycsb-benchmark/slsfs-client-image-build/slsfs-client*
