*.csv
run
exec
args.txt
test-storage

ycsb-benchmark/*result*
ycsb-benchmark/block-mappings-to-psb
ycsb-benchmark/trace_emulator_csv/
ycsb-benchmark/trace_emulator_12hour/
ycsb-benchmark/trace_emulator_rerun/